* {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  color: white;
}

html {
  background: linear-gradient(180deg, rgb(21, 48, 31) 6%, rgb(40, 65, 44) 68%, rgb(18, 19, 24) 100%);
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f000;
  padding-bottom: 5%;
}

.login-main{
  background-color: #00000000;
}

header {
  box-shadow: 0 0 10px black;
  padding: 3px;
  background-color: #141923;
}

header .install-button {
  padding: 1px 3px;
}

nav p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: xx-small;
  background-color:#172134
}

.dropdown {
  position: relative;
  display: inline-block;
  align-content: center;
  padding: 5px;
}

.dropbtn {
  background-color: #00000000;
  color: rgb(202, 204, 221);
  font-weight: bold;
  font-size: 130%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown:hover .dropbtn {
  color: #ffffff;
  text-shadow: 0 0 5px white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3a3a3a;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: left;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.loginContainer {
  width: 300px;
  padding: 16px;
  background-color: #ffffff;
  margin: 5% auto 0px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 255, 4);
  border: 2px solid #000000
}

.loginButton:hover {
  background-color: #58fd5d;
}

.data-input {
  width: 100%;
  padding: 12px 20px;
  margin: 3px 0 20px;
  border: 2px solid #000000; 
  border-radius: 5px;
  box-sizing: border-box;
}

.loginContainer textarea {
  width: 100%;
  max-width: 100%;
  min-width: 70%;
  max-height: 200px;
  min-height: 50px;
  padding: 12px 20px;
  margin: 3px 0 20px;
  border: 2px solid #000000; 
  border-radius: 5px;
  box-sizing: border-box;
}

.loginButton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #000000;
  font-weight: bold;
  font-size: medium;
}

button:hover {
  transition: background 300ms ease-in-out, color 300ms ease-in-out, box-shadow 300ms ease-in-out ;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.options a {
  text-decoration: none;
  color: #007bff;
}

.source-functions{
  margin: 0px auto 0px auto;
  padding: 10px 0 0px 10px;
}

.main-header {
  padding: 0px 10px 10px 0px;
  margin: 0px 17% 0 17% ;
  align-items: center;
  align-content: center;
  font-size: small;
}

.pages-nav {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #007bff00;
}

.neas-icon {
  width: 150px;
}

.nav-buttons {
  margin-left: 5%;
  margin-top: -5px;
  background-color: #00000000;
}

.install-button {
  background-color: #00ff08;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 3px #0dff00;
  font-weight: bold;
  padding: 2px 7px;
  cursor: pointer;
}

.install-button:hover {
  background-color: rgb(118, 0, 0);
  box-shadow: 0 0 3px red;
}

.label-button {
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.59);
  text-decoration: solid;
}

.dropdown .label-button {
  background-color: #00000000;
  cursor: pointer;
}

.label-button:hover {
  color: white;
}

.label-button .dropdown-content {
  text-align: left;

}

.admin-button {
  position: absolute;
  top: 20px; 
  right: 20px; 
}

/* Classe referente aos jogos que aparecem em destaque  */

.games-destaque {
  margin: 5px 15% 5px 18%;
  width: max-content;
  max-height: max-content;
}

.games-destaque p {
  padding: 10px 0;
  background-color: #00000000;
  left: 20%;
  font-size: medium;
}

.games-destaque nav {
  background-color: #1117555d;
  box-shadow: 0 0 7px #000000ad;
}

.games-destaque a {
  display: flex;
  text-decoration: none;
}

.games-destaque section p[type=title] {
  text-align: left;
  padding: 17px;
  margin-bottom: -20px;
  font-size: x-large;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-content: center;
}

.games-destaque section p {
  text-align: left;
  padding: 12px;
  font-size: x-large;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.games-destaque p[type=popular] {
  padding: 2px 5px;
  margin-left: 17px;
  margin-bottom: 10%;
  background-color: #575957ee;
  font-size: x-small;
  width: max-content;
}

.games-destaque p[type=preco] {
  font-size: small;
  bottom: 0;
}

.games-destaque img[type=main] {
  max-height: 370px;
  aspect-ratio: auto 16/9;
  box-shadow: 0 0 30px black;
}

.games-destaque img[type=examples] {
  aspect-ratio: 16/9;
  max-height: 70px;
  padding: 10px 10px 0 0;
}

.games-destaque img[type=default] {
  max-height: 370px;
  box-shadow: 0 0 30px black;
}

/* Fim da classe games-destaque */

/* Criando jogos para venda */

.games-destaque--vendas {
  margin: 2% 0 0 0%;
  min-width: max-content;
  transform: scale(0.9);
}

.games-destaque--vendas img[type="main"]{
  max-height: 370px;
}

.games-destaque--vendas section {
  font-size: normal;
}

.games-destaque--vendas .form-baixo {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: #0c091a;
  color: white;
  box-shadow: 0 0 10px #00ff0846;
}

.games-destaque--vendas .form-baixo .prints {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
}

.games-destaque--vendas a {
  cursor: default;
}

.fundo-vendas {
  display: flex;
  margin: 20px 30px;
  padding: 0 40px;
  min-width: min-content;
  background-color: #151b3a84;
  border-radius: 40px;
  box-shadow: 0 0 10px #000000;
}

.fundo-vendas aside {
  padding: 10px 5px;
  margin: 5% 0;
  background-color: #0c091a;
  color: white;
  box-shadow: 0 0 10px #00ff0846;
}

.fundo-vendas aside h2 {
  color: white;
  margin: 20px
}

.fundo-vendas input[type="file"] {
  display: none;
}

.fundo-vendas .loginContainer .form-esquerda {
  padding: 0 3px;
}

.fundo-vendas .input-image {
  padding: 5px 5px 0px 5px;
  margin-bottom: 20px;
  width: 280px;
  aspect-ratio: 16/9;
  background-color: #251c5089;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  color: #cfcfcf;
  cursor: pointer;
  transition: color 300ms ease-in-out, border 300ms ease-in-out, background 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.fundo-vendas .input-image:hover {
  color: #09bc00;
  border-color: #09bc00;
  background-color:#172134;
  box-shadow: 0 0 10px #09bc00;
}

.fundo-vendas .input-image:active {
  color: black;
  border-color: black;
  background-color:#2b215689;
  box-shadow: 0 0 2px #09bc00;
}

.games-destaque--vendas .form-baixo .input-image {
  transform: scale(0.6);
  margin: -30px -50px;
}

.input-image .main-img{
  max-width: 100%;
}

/* fim da classe vendas */

/* ScrollBar */

body::-webkit-scrollbar {
  width: 9px;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(23, 49, 27);     
}

body::-webkit-scrollbar-thumb {
  background-color: #192234;
  border-radius: 30px;
}

/* Fim da ScrollBar */

/* Estilo da tela Sobre*/
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
   .left-section {
      text-align: center;
    }
   .right-section {
      width: 50%;
    }

    .justified-text {
      text-align: justify;
    }
 
   .video-container {
      max-width: 600px; 
      max-height: 400px; 
      margin: 0 auto; 
      position: relative;
      padding-bottom: 56.25%; 
      height: 0;
      overflow: hidden;
    }
  
    .left-section .install-button {
      background-color: #00ff08;
      border: 2px solid #000000;
      border-radius: 10px;
      box-shadow: 0 0 3px #0dff00;
      font-weight: bold;
      padding: 15px 20px; 
      cursor: pointer;
      text-align: center; 
      display: inline-block;
    }
    
    .left-section .install-button:hover {
      background-color: rgb(118, 0, 0);
      box-shadow: 0 0 3px red;
    }
    
    .scroll-down button {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #00ff08;
      border: 2px solid #000000;
      border-radius: 10px;
      box-shadow: 0 0 3px #0dff00;
      cursor: pointer;
    }
    
    .scroll-down button:hover {
      background-color: rgb(118, 0, 0);
      box-shadow: 0 0 3px red;
    }
    
    .game-section {
        text-align: center;
        padding: 40px 0;
    }
    
    .game-section h2 {
      border-radius: 5px;
      font-weight: bold;
      color: #000000;
  }

    .game-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        justify-items: center;
        margin-top: 20px;
    }
    
    .game-card {
      border: 2px solid #000000;
      border-radius: 5px;
      box-shadow: 0 0 3px #0dff00;
      font-weight: bold;
      padding: 15px 15px; 
      text-align: left;
      border-radius: 10px;
      display: inline-block;
      transition: transform 0.3s ease;
  }

    .game-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    }

    .game-card.game-image {
        width: 100%;
        height: auto;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .game-card h3 {
        font-size: 18px;
        margin: 10px 0;
        color: #000000;
    }

    .game-card p {
        font-size: 14px;
        color: #666;
    }
      
    .game-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .game-image {
        width: 150px; /* Largura de exemplo, ajuste conforme necessário */
        margin: 10px;
    }

    .devs-section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px; /* Espaçamento entre os cards */
      padding: 0 150px; /* Espaçamento da margem do site */
      margin: 50px 0; /* Espaçamento vertical para centralizar melhor */
  }
  
  .dev-info {
      width: 400px; /* Tamanho fixo para os cards */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
      border: 2px solid #000000;
      border-radius: 10px;
      box-shadow: 0 0 3px #0dff00;
      padding: 15px;
      text-align: left;
      transition: transform 0.3s ease;
  }
  
  .description {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
  }
  
  .dev-info.active .description {
      display: block;
      opacity: 1;
  }
  
  .dev-info img {
      width: 100%;
      height: 400px; /* Altura fixa para as imagens */
      object-fit: cover; /* Manter a proporção das imagens */
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
  }
  
  .dev-info span {
      display: block;
      font-size: 18px;
      text-align: center;
      margin-top: 10px; /* Ajustar o espaço acima do nome */
  }
  
  .dev-info p {
      font-size: 14px;
      color: #333;
      margin-top: 10px;
  }
  
  .dev-info:hover {
      transform: scale(1.03);
      transition: transform 0.3s ease-in-out;
  }
   /* /Fim do estilo da tela Sobre/ */

   /* /Tradução/ */

   .widget_google_translate_widget {
    background-color: #ffffff; /* Cor de fundo */
    padding: 2em;
  }
  
  #secondary.widget_google_translate_widget.widget-title {
    color: green; /* Cor do título */
  }

  .goog-te-gadget.goog-te-gadget-simple {
    background-color: #bb00bb; /* Cor de fundo */
    border: medium none #bb00bb; /* Border */
  }
  
  .goog-te-gadget.goog-te-gadget-simple a {
    color: #ffffff; /* Cor do texto */
  }
  
  /* Fim da tradução */

  .destaque-card{
    transition: transform 0.3s ease;
  }
  .destaque-card:hover{
    transform: translateY(-2px);
    box-shadow: 0 0px 5px #00ff08;
  }