* {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  color: white;
}

html {
  background: linear-gradient(180deg, rgb(21, 48, 31) 6%, rgb(40, 65, 44) 68%, rgb(18, 19, 24) 100%);
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f000;
  padding-bottom: 5%;
}

.login-main{
  background-color: #00000000;
}

header {
  box-shadow: 0 0 10px black;
  padding: 3px;
  background-color: #141923;
}

nav p {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: xx-small;
  background-color:#172134
}

.dropdown {
  position: relative;
  display: inline-block;
  align-content: center;
  padding: 5px;
}

.dropbtn {
  background-color: #00000000;
  color: rgb(202, 204, 221);
  font-weight: bold;
  font-size: 130%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown:hover .dropbtn {
  color: #ffffff;
  text-shadow: 0 0 5px white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3a3a3a;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.loginContainer {
  width: 300px;
  padding: 16px;
  background-color: #ffffff;
  margin: 5% auto 0px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 255, 4);
  border: 2px solid #000000
}

.data-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #000000; 
  border-radius: 5px;
  box-sizing: border-box;
}

.loginButton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #000000;
  font-weight: bold;
  font-size: medium;
}

button:hover {
  opacity: 0.8;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.options a {
  text-decoration: none;
  color: #007bff;
}

.source-functions{
  margin: 0px auto 0px auto;
  padding: 10px 0 0px 10px;
}

.main-header {
  padding: 0px 10px 10px 0px;
  margin: 0px 17% 0 17% ;
  align-items: center;
  align-content: center;
  font-size: small;
}

.pages-nav {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #007bff00;
}

.neas-icon {
  width: 150px;
}

.nav-buttons {
  margin-left: 5%;
  margin-top: -5px;
  background-color: #00000000;
}

.install-button {
  background-color: #00ff08;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 3px #0dff00;
  font-weight: bold;
  padding: 2px 7px;
  cursor: pointer;
}

.install-button:hover {
  background-color: rgb(118, 0, 0);
  box-shadow: 0 0 3px red;
}

.label-button {
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.59);
  text-decoration: solid;
}

.label-button:hover {
  color: white;
}

.admin-button {
  position: absolute;
  top: 20px; 
  right: 20px; 
}

/* Classe referente aos jogos que aparecem em destaque  */

.games-destaque {
  margin: 5px 15% 5px 18%;
  width: max-content;
  max-height: fit-content;
}

.games-destaque p {
  padding: 10px 0;
  background-color: #00000000;
  left: 20%;
  font-size: medium;
}

.games-destaque nav {
  background-color: #1117555d;
  box-shadow: 0 0 7px #000000ad;
}

.games-destaque a {
  display: flex;
  text-decoration: none;
}

.games-destaque section p[type=title] {
  text-align: left;
  padding: 17px;
  margin-bottom: -20px;
  font-size: x-large;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-content: center;
}

.games-destaque section p {
  text-align: left;
  padding: 12px;
  font-size: x-large;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.games-destaque p[type=popular] {
  padding: 2px 5px;
  margin-left: 17px;
  margin-bottom: 10%;
  background-color: #575957ee;
  font-size: x-small;
  width: max-content;
}

.games-destaque p[type=preco] {
  font-size: small;
  bottom: 0;
}

.games-destaque img[type=main] {
  max-height: 370px;
  box-shadow: 0 0 30px black;
}

.games-destaque img[type=examples] {
  max-height: 70px;
  padding: 10px 10px 0 0;
}

.games-destaque img[type=default] {
  max-height: 370px;
  box-shadow: 0 0 30px black;
}

/* Fim da classe games-destaque */

/* Criando jogos para venda */

.games-destaque--vendas {
  padding: 5%;
  margin: 10px 10%;
  background-color: #1b35468b;
}

.games-destaque--vendas section {
  font-size: normal;
}

.fundo-vendas {
  display: flex;
  margin-left: 10%;
}

/* ScrollBar */

body::-webkit-scrollbar {
  width: 9px;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(23, 49, 27);     
}

body::-webkit-scrollbar-thumb {
  background-color: #192234;
  border-radius: 30px;
}

/* Fim da ScrollBar */

form p {
color: black;
font-size: xx-large;
}